# Ignore everything by default
*

# Allow expand.sh
!expand.sh

# Allow gitignore
!.gitignore

# Allow vimrc
!.vimrc

# Allow gitignore-global
!.gitignore_global

# Allow zsh theme
!.omz.zsh-theme

# Allow zshrc
!.zshrc
